* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(./../static/prediction.jpg);
    background-size: cover;

}
#price .price{
    width: 100%;
    max-width: 650px;
    background: transparent;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}
#price .price h1{
    color: White;
    font-size: 3rem;
    margin-bottom: 10px;
}
#price .price h2{
    color: White;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#price h2{
    align-items: center;
    color: White;
    font-size: 1rem;
    margin-bottom: 10px;
}
#price .form-submit-btn .buttn{
    display: block;
    padding: 10px 30px;
    color: #c81b1b;
    background-color: transparent;
    border: 2px solid #c81b1b;
    border-radius: 0.5cm;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#price .form-submit-btn .buttn:hover{
    color: white;
    background-color: #c81b1b;
}